<div class="row justify-content-start">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="myUserLabel" jhiTranslate="userManagement.home.editLabel">Create or edit a User</h2>

      <div *ngIf="user">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="!user.id">
          <mat-form-field class="fullWidth" appearance="fill">
            <label jhiTranslate="global.field.id">ID</label>
            <input matInput type="text" name="id" formControlName="id" readonly />
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="fullWidth" appearance="fill">
            <label class="form-control-label" jhiTranslate="userManagement.login">Login</label>
            <input matInput type="text" name="login" formControlName="login" />

            <mat-error *ngIf="editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('login')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('login')?.errors?.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 50 }"
              >
                This field cannot be longer than 50 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('login')?.errors?.pattern"
                jhiTranslate="entity.validation.patternLogin"
              >
                This field can only contain letters, digits and e-mail addresses.
              </small>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="fullWidth" appearance="fill">
            <label class="form-control-label" jhiTranslate="userManagement.firstName">First Name</label>
            <input matInput type="text" name="firstName" formControlName="firstName" />

            <mat-error
              *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)"
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('firstName')?.errors?.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 50 }"
              >
                This field cannot be longer than 50 characters.
              </small>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="fullWidth" appearance="fill">
            <label jhiTranslate="userManagement.lastName">Last Name</label>
            <input matInput type="text" name="lastName" formControlName="lastName" />

            <mat-error *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('lastName')?.errors?.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 50 }"
              >
                This field cannot be longer than 50 characters.
              </small>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="fullWidth" appearance="fill">
            <label class="form-control-label" jhiTranslate="userManagement.email">Email</label>
            <input matInput type="email" name="email" formControlName="email" />

            <mat-error *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('email')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('email')?.errors?.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 100 }"
              >
                This field cannot be longer than 100 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('email')?.errors?.minlength"
                jhiTranslate="entity.validation.minlength"
                [translateValues]="{ min: 5 }"
              >
                This field is required to be at least 5 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('email')?.errors?.email"
                jhiTranslate="global.messages.validate.email.invalid"
              >
                Your email is invalid.
              </small>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-check">
          <label class="form-check-label" for="activated">
            <input
              class="form-check-input"
              [attr.disabled]="user.id === undefined ? 'disabled' : null"
              type="checkbox"
              id="activated"
              name="activated"
              formControlName="activated"
            />
            <span jhiTranslate="userManagement.activated">Activated</span>
          </label>
        </div>

        <div class="form-group language-select" *ngIf="languages && languages.length > 0">
          <mat-form-field appearance="fill">
            <mat-label jhiTranslate="userManagement.langKey">Lang Key</mat-label>
            <mat-select id="langKey" name="langKey" formControlName="langKey">
              <mat-option *ngFor="let language of languages" [value]="language">{{ language | findLanguageFromKey }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label jhiTranslate="userManagement.profiles">Profiles</mat-label>
            <mat-select multiple name="authority" formControlName="authorities">
              <mat-option *ngFor="let authority of authorities" [value]="authority">{{ authority }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="user">
        <button type="button" class="btn" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
