<div>
  <h2 id="page-heading" data-cy="StudyHeading">
    <span jhiTranslate="coursesApp.study.home.title">Studies</span>

    <div class="d-flex justify-content-end">
      <button class="btn mr-1" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coursesApp.study.home.refreshListLabel">Refresh List</span>
      </button>

      <button (click)="documentDownlound()" class="btn">Export</button>

      <button id="jh-create-entity" data-cy="entityCreateButton" class="btn" [routerLink]="['/study/new']">
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coursesApp.study.home.createLabel"> Create a new Study </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="table-responsive" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="dateOfStart">
            <span jhiTranslate="coursesApp.study.dateOfStart">Date Of Start</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="coursename.courseName">
            <span jhiTranslate="coursesApp.study.coursename">Coursename</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="student.firstName">
            <span jhiTranslate="coursesApp.study.student">Student</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input (input)="saveValue(criteria)" (focus)="saveValue(criteria)" type="date" [(ngModel)]="criteria.dateOfStart" />
          </td>
          <td>
            <input
              (input)="saveValue(criteria)"
              (focus)="saveValue(criteria)"
              type="text"
              [matAutocomplete]="autoCourses"
              [formControl]="coursesControl"
              [(ngModel)]="criteria.coursesCourseName"
            />
            <mat-autocomplete #autoCourses="matAutocomplete" [displayWith]="displayCourses">
              <mat-option *ngFor="let coursesCourseName of coursesOptions | async" [value]="coursesCourseName.courseName">
                {{ coursesCourseName.courseName }}
              </mat-option>
            </mat-autocomplete>
          </td>
          <td>
            <input
              (input)="saveValue(criteria)"
              (focus)="saveValue(criteria)"
              type="text"
              [matAutocomplete]="autoStudent"
              [formControl]="studentControl"
              [(ngModel)]="criteria.studentFirstName"
            />
            <mat-autocomplete #autoStudent="matAutocomplete" [displayWith]="displayStudent">
              <mat-option *ngFor="let studentFirstName of studentOptions | async" [value]="studentFirstName.firstName">
                {{ studentFirstName.firstName }}
              </mat-option>
            </mat-autocomplete>
          </td>

          <td class="text-right">
            <div class="buttons-group">
              <button type="submit" class="btn search-button" data-cy="entityDetailsButton" (click)="filterAndSortEntities(1)">
                <fa-icon icon="search"></fa-icon>
                <span class="search-span" jhiTranslate="coursesApp.study.home.searchLabel">Search</span>
              </button>

              <button type="submit" class="btn" data-cy="entityEditButton" (click)="clearFields()">
                <fa-icon icon="trash-alt"></fa-icon>
              </button>
            </div>
          </td>
        </tr>

        <div class="alert alert-warning" id="no-result" *ngIf="studies?.length === 0">
          <span jhiTranslate="coursesApp.study.home.notFound">No studies found</span>
        </div>

        <tr *ngFor="let study of studies; trackBy: trackId" data-cy="entityTable">
          <td>{{ study.dateOfStart | formatMediumDate }}</td>
          <td>
            <div *ngIf="study.coursename">
              <a [routerLink]="['/courses', study.coursename?.id, 'view']">{{ study.coursename?.courseName }}</a>
            </div>
          </td>

          <td>
            <div *ngIf="study.student">
              <a [routerLink]="['/student', study.student?.id, 'view']">{{ study.student?.firstName }}</a>
            </div>
          </td>

          <td class="text-right">
            <div class="buttons-group">
              <button type="submit" [routerLink]="['/study', study.id, 'view']" class="btn btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/study', study.id, 'edit']" class="btn btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(study)" class="btn btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="studies && studies.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="filterAndSortEntities($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
