<div>
  <h2 id="page-heading" data-cy="CoursesHeading">
    <span jhiTranslate="coursesApp.courses.home.title">Courses</span>

    <div class="d-flex justify-content-end">
      <button class="btn mr-1" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coursesApp.courses.home.refreshListLabel">Refresh List</span>
      </button>

      <button (click)="documentDownlound()" class="btn">Export</button>

      <button id="jh-create-entity" data-cy="entityCreateButton" class="btn" [routerLink]="['/courses/new']">
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coursesApp.courses.home.createLabel"> Create a new Courses </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="table-responsive" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="courseName">
            <span jhiTranslate="coursesApp.courses.courseName">Course Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateOfStart">
            <span jhiTranslate="coursesApp.courses.dateOfStart">Date Of Start</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateOfEnd">
            <span jhiTranslate="coursesApp.courses.dateOfEnd">Date Of End</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input (input)="saveValue(criteria)" (focus)="saveValue(criteria)" type="text" [(ngModel)]="criteria.courseName" />
          </td>
          <td>
            <input (input)="saveValue(criteria)" (focus)="saveValue(criteria)" type="date" [(ngModel)]="criteria.dateOfStart" />
          </td>
          <td>
            <input (input)="saveValue(criteria)" (focus)="saveValue(criteria)" type="date" [(ngModel)]="criteria.dateOfEnd" />
          </td>

          <td class="text-right">
            <div class="buttons-group">
              <button type="submit" class="btn search-button" data-cy="entityDetailsButton" (click)="filterAndSortEntities(1)">
                <fa-icon icon="search"></fa-icon>
                <span class="search-span" jhiTranslate="coursesApp.courses.home.searchLabel">Search</span>
              </button>

              <button type="submit" class="btn" data-cy="entityEditButton" (click)="clearFields()">
                <fa-icon icon="trash-alt"></fa-icon>
              </button>
            </div>
          </td>
        </tr>

        <div class="alert alert-warning" id="no-result" *ngIf="courses?.length === 0">
          <span jhiTranslate="coursesApp.courses.home.notFound">No courses found</span>
        </div>

        <tr *ngFor="let courses of courses; trackBy: trackId" data-cy="entityTable">
          <td>{{ courses.courseName }}</td>
          <td>{{ courses.dateOfStart | formatMediumDate }}</td>
          <td>{{ courses.dateOfEnd | formatMediumDate }}</td>

          <td class="text-right">
            <div class="buttons-group">
              <button type="submit" [routerLink]="['/courses', courses.id, 'view']" class="btn btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/courses', courses.id, 'edit']" class="btn btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(courses)" class="btn btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="courses && courses.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="filterAndSortEntities($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
