<div class="row" [ngSwitch]="account !== null">
  <div *ngSwitchCase="false" class="col-md-2">
    <div class="contact">
      <p class="contactTitle textBold">Contacts for communication</p>
      <div class="contactDescription">
        <span class="textBold">Courses</span><br />
        <span class="textBold">International AG</span><br />
        Am Stadtpark 9<br />
        ui grupe
      </div>
    </div>
  </div>

  <div *ngSwitchCase="false" class="col-md-10">
    <jhi-login></jhi-login>
  </div>
  <div *ngSwitchCase="true" class="col-md-10">
    <div>
      <p class="textBold">Welcome to the website made automatically with the help of an avedi generator</p>
      <p>
        <u>This html of the main page is taken from the project configuration files.</u>
      </p>
      <p>This site works on the basis of advanced development tools.</p>
    </div>
    <div>
      <p>Backend is build with the following technologies:</p>
      <dl>
        <dd>Spring Boot</dd>
        <dd>Spring Security</dd>
        <dd>Spring MVC REST</dd>
        <dd>Spring Websocket</dd>
        <dd>Liquibase</dd>
        <dd>JPA</dd>
        <dd>Hibernate</dd>
        <dd>Postgres (any)</dd>
        <dd>Docker</dd>
        <dd>ELK</dd>
      </dl>
    </div>
    <p>Frontend is build with the following technologies:</p>
    <div>
      <ul>
        <li>Angular</li>
        <li>Webpack</li>
        <li>BrowserSynk</li>
        <li>Jest</li>
        <li>Bootstrap</li>
        <li>Websoket</li>
        <li>Material</li>
        <li>Docker</li>
      </ul>
    </div>
    <p>
      <u>To create whole app you just need to create UML-schema using draw.io. </u>
    </p>

    <p>In the future, this site can be modified in any variation to meet your requirements and tasks</p>
  </div>
</div>
